<div class="section" id="about">
    <div class="title">
        About
    </div>
    <div class="content">
        A CS undergrad excited to explore emerging technologies and discover true passion.
        Experienced in developing websites using Angular. Dabbled in Machine Learning for a bit.
        Focusing on Full Stack as of now.
    </div>
    <div class="content">
        Python, Java, TypeScript, and JavaScript are some of the languages I've used so far.
        Check out my <span>projects</span> below.
    </div>
</div>