.section-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.mat-toolbar{
    background: transparent;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  
.title {
  font-size: 70px;
  text-align: center;
}
  
@media (max-width: 768px) {
  .title-container {
    padding: 10% 0;
  }
}
  

.cursor {
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

/* styles.scss */
.custom-button {
    position: relative;
    padding: 0; /* Remove default padding */
}
