.section-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.mat-toolbar{
    background: transparent;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .title {
    font-size: 70px;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .title-container {
      padding: 10% 0;
    }
  }
  

.cursor {
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

/* styles.scss */
.custom-button {
    position: relative;
    padding: 0; /* Remove default padding */
}
  
.line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; /* Set your desired line height */
    background-color: #2196F3; /* Set your desired line color */
    opacity: 0; /* Hide by default */
    transform: scaleX(0); /* Shrink horizontally initially */
    transform-origin: right; /* Start scaling from the right */
    transition: transform 0.2s ease, opacity 0.2s ease; /* Add smooth transition */
}
  
.custom-button:hover .line {
    transform: scaleX(1); /* Expand to full width on hover */
    opacity: 1; /* Show the line on hover */
}
  