<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="bgImage">
        <mat-toolbar color="primary">
                <!-- <span style="font-size: medium;">Divyasree Attaluri</span> -->
            <div class="section-container">
                <button mat-button (click)="scrollToElement('about')">
                About
                </button>
                <button mat-button (click)="scrollToElement('projects')">
                Projects
                </button>
                <button mat-button (click)="scrollToElement('resume')">
                Resume
                </button>
                <button mat-button (click)="scrollToElement('contact')">
                Contact
                </button>
            </div>
            <!-- <button mat-icon-button>
                <mat-icon>light_mode</mat-icon>
            </button> -->
        </mat-toolbar>

    <div class="title-container">
        <div class="title">
            <span>{{ text }}</span><span class="cursor">|</span>
        </div>
    </div>
</div>